{% extends "layout.html" %}

{% block title %}
    36
{% endblock %}

{% block main %}
    <!-- Create a div element to hold the instruction screen -->
    <!-- <div id="instruction-screen" data-backdrop="static"> -->
        <!-- Add your instruction text or content here -->
        <!-- <div id="instruction">How To Play</div>
        <div id="game-type">Game Type: Take Turns</div> -->

        <!-- <h3 id="instruction-goal">Outsmart your opponent and gain more points than them.</h3>
        <ul>
            <li>When a player picks a number, that number is added to the player's score and removed from the grid.</li>
            <li>All of its factors (e.g. 2 and 3 for 6), however, will be added to the other player's score and also removed.</li>
            <li><b>NOTE: </b>Only factors available on the grid can be added.</li>
            <li>The player with the higher score when all numbers are used wins!</li>
        </ul> -->
        <!-- <p>Players take turns picking numbers from the 6x6 
            grid with the aim of having the highest number of points at the end. 
            When a player picks a number, that number is added to the player's points 
            and is removed from the grid. Any factors of that number, however, will be 
            added to the opposing player's points and also be removed from the grid.</p>
        <p>Player 1's turn is green, and Player 2's turn is red.</p> -->
        <!-- Add a button to start the game -->
        <!-- <button id="start-game">Start Game</button>
    </div>   -->

    <div id="turnDisplay">It's <span id="playerTurn" style="color: green;"></span> turn</div>

    <audio id="click-sound" src="../static/sfx/click-sound.mp3"></audio>

    <!-- 6x6 Table -->
    <table id="table">
        {% for i in range(6) %}
          <tr>
            {% for j in range(6) %}
              <td class="available number" data-value="{{ (i * 6) + j + 1 }}">{{ (i * 6) + j + 1 }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
    </table>

    <!-- Scores -->
    <table id="t-chart">
        <tr>
            <th id="playerOne"></th>
            <th id="playerTwo"></th>
        </tr>
        <tr>
          <td id="playerOneScore">0</td>
          <td id="playerTwoScore">0</td>
        </tr>
    </table>

    <!-- Include Socket.IO -->
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>

    <script>
        // Connects to Socket.IO
        const socket = io();
        const urlParams = new URLSearchParams(window.location.search);
        const currentPlayer = urlParams.get('role');  // Retrieve 'role' from URL
        const room = urlParams.get('room');  // Retrieve 'room' from URL
        const opponent = currentPlayer == 1 ? 2 : 1;
        console.log(`room: ${room} and currentPlayer: ${currentPlayer}`)

        // Accesses the titles above the players' scores
        let playerOneTitle = document.getElementById("playerOne");
        let playerTwoTitle = document.getElementById("playerTwo");

        /* Sets player 1 and 2's titles accordingly in text and color */
        if (currentPlayer == 1) {
            // Sets player 1's frontend attributes
            playerOneTitle.innerHTML = 'Player 1 (You)';
            playerOneTitle.style.color = 'green';

            // Sets player 2's frontend attributes
            playerTwoTitle.innerHTML = 'Player 2';
            playerTwoTitle.style.color = 'red';
        }
        else {
            // Sets player 1's frontend attributes
            playerOneTitle.innerHTML = 'Player 1';
            playerOneTitle.style.color = 'red';

            // Sets player 2's frontend attributes
            playerTwoTitle.innerHTML = 'Player 2 (You)';
            playerTwoTitle.style.color = 'green';
        }

        document.addEventListener("DOMContentLoaded", function() {            
            // Starts Game 
            socket.emit("start_game", {
                'room': room
            });
        });

        socket.on('load_game', (data) => {
            console.log("hey i loaded")
            // Gets initialized game state and room from server emit
            const gameState = data.gameState; 
            console.log(`gameStae: ${gameState} and room: ${room} and currentPlayer: ${currentPlayer}`)

            initalizeGame(gameState, room, currentPlayer);
        });

        /* Loads in game */
        function initalizeGame(gameState, room, currentPlayer) {
            // Creates a new array from 1-36 and identifies whose turn it is
            let numbers = gameState["grid"];
            let currentTurn = gameState["current_turn"];

            // Update turn indicator for the correct player
            updateTurnIndicator(currentTurn, currentPlayer);

            // Prevent the non-turn player from interacting with the grid
            if (currentTurn == currentPlayer) {
                enablePlayerTurn(gameState, currentTurn, currentPlayer);
            }
        }

        /* Update turn indicator for the current player */
        function updateTurnIndicator(currentTurn, currentPlayer) {
            document.getElementById("playerTurn").innerHTML = currentPlayer == currentTurn ? `Player ${currentTurn}'s (You) ` : `Player ${currentTurn}'s `;
            document.getElementById("playerTurn").style.color = currentPlayer == currentTurn ? 'green' : 'red';
        }

        /* Enable the current player to make their move */
        function enablePlayerTurn(gameState, currentTurn, currentPlayer) {
            const numberElements = document.getElementsByClassName("number");

            for (let i = 0; i < numberElements.length; i++) {
                // Clear existing event listeners to prevent multiple triggers
                const newElement = numberElements[i].cloneNode(true);
                numberElements[i].parentNode.replaceChild(newElement, numberElements[i]);

                // Only allow interaction for the current player
                if (currentTurn == currentPlayer) {
                    newElement.addEventListener("click", function (event) {
                        playClickSound(event);
                        handleClick(event, gameState, currentTurn, currentPlayer);
                    });
                }
            }
        };

        /* Dynamically displays board based on numbers available */
        function displayBoard(gameState, numberClicked, factors) {
            // Gets frontend numbers and current turn
            const numberElements = document.querySelectorAll(".number");
            const currentTurn = gameState["current_turn"];

            // Declare numberClickedElement in the outer scope
            let numberClickedElement;

            /* Removes animations from all elements and matches number clicked to its element */
            numberElements.forEach((numberElement) => {
                const childrenToRemove = numberElement.querySelectorAll(".factor-animation"); 
                childrenToRemove.forEach((child) => {
                    // Removes span element from each number element
                    child.remove();
                })

                // Connects number clicked to corresponding element
                if (parseInt(numberElement.dataset.value, 10) == numberClicked) {
                    numberClickedElement = numberElement;
                }
            })

            /* Removes number clicked and animates green + */
            const numberAnimationElement = document.createElement("span");
            numberAnimationElement.className = "factor-animation";
            numberAnimationElement.innerHTML = `+${numberClicked}`;
            numberAnimationElement.style.color = currentTurn == currentPlayer ? "red" : "green"; // Color for opponent
            numberClickedElement.style.visibility = 'hidden'; // Hide if removed from grid
            numberClickedElement.appendChild(numberAnimationElement); // Append animation element

            // Filter the elements to only find those that are factors
            const factorElements = Array.from(numberElements).filter((numberElement) => {
                const numberValue = parseInt(numberElement.dataset.value, 10);
                return factors.includes(numberValue);
            })

            /* Removes factors of number clicked and animates red + */
            factorElements.forEach((factorElement) => {
                // Get the number value
                const factorValue = parseInt(factorElement.dataset.value, 10);

                // Animation elements
                const factorAnimationElement = document.createElement("span");
                factorAnimationElement.className = "factor-animation";
                factorAnimationElement.innerHTML = `+${factorValue}`;
                factorAnimationElement.style.color = currentTurn == currentPlayer ? "green" : "red"; // Color for opponent

                factorElement.style.visibility = 'hidden'; // Hide if removed from grid
                factorElement.classList.remove("available");
                factorElement.appendChild(factorAnimationElement); // Append animation element
            })

            /* When the game ends, users are redirected to win screens w/ both players' scores */
            const numbers = gameState["grid"];
            const playerOneScore = gameState["scores"][1];
            const playerTwoScore = gameState["scores"][2];

            console.log(`1score: ${playerOneScore} and 2: ${playerTwoScore}`);

            if (numbers.length == 0) {
                /* Creates object with both player's scores */
                const formData = new FormData();
                formData.append("playerOneScore", playerOneScore);
                formData.append("playerTwoScore", playerTwoScore);
                formData.append("role", currentPlayer);
                formData.append("room", room)

                /* Sends post request with previous object to hide url parameters, 
                preventing users from inputting different scores */
                fetch("/36end", {
                    method: "POST",
                    body: formData
                })
                .then(response => {
                    console.log("Response Status:", response.status); // Log the status code
                    // Check if the response is okay (status 200-299)
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text(); // Get HTML response
                })

                .then(html => {
                    console.log("Response HTML:", html); // Log the HTML response
                    // Replace the page content with the returned HTML
                    document.body.innerHTML = html;
                });
            };
        };

        /* Dynamically displays board based on numbers available */
        function displayScore(gameState) {
            // Gets backend player scores
            let playerOneScore = gameState["scores"][1];
            let playerTwoScore = gameState["scores"][2];

            // Gets frontend player scores
            let visiblePlayerOneScore = document.getElementById("playerOneScore");
            let visiblePlayerTwoScore = document.getElementById("playerTwoScore");

            // Updates frontend player scores to match backend
            visiblePlayerOneScore.innerHTML = playerOneScore.toString();
            visiblePlayerTwoScore.innerHTML = playerTwoScore.toString();
        };

        /* Removes the number from being clicked anymore */
        function handleClick(event, gameState, currentTurn, currentPlayer) {
            // Removes physical number
            if (event.target.classList.contains('number')) {
                // Gets the number that was clicked
                const number = parseInt(event.target.dataset.value);

                // Add the clicked number to the current player's score
                gameState["scores"][currentPlayer] += number;
                
                // Remove the clicked number from the grid
                const index = gameState["grid"].indexOf(number);
                if (index > -1) {
                    gameState["grid"].splice(index, 1);
                }

                // Generates list of factors of the clicked number
                const factors = gameState["grid"].filter(value => number % value === 0);

                // Add factors to opponent's score
                factors.forEach((factor, index) => {
                    // Adds factors to opponent's score
                    gameState["scores"][opponent] += factor;

                    // Removes factors from grid
                    const factorIndex = gameState["grid"].indexOf(factor);
                    if (factorIndex > -1) {
                        gameState["grid"].splice(factorIndex, 1);
                    }
                });

                // Changes server-side (gameState...) and local (currentTurn) turn 
                currentTurn = opponent
                gameState["current_turn"] = currentTurn;

                // Emit the updated game state to the server
                socket.emit('update_game_state', {
                    "room": room,
                    "gameState": gameState,
                    "number": number,
                    "factors": factors
                });
            };
        };

        // Listen for game state updates from the server
        socket.on('game_state_updated', (data) => {
            const updatedGameState = data["gameState"];
            const numberClicked = data["number"];
            const factors = data["factors"];

            /* Updates game board, player scores, turn indicator, and enables player whose turn it is to click */
            displayBoard(updatedGameState, numberClicked, factors);
            displayScore(updatedGameState);
            updateTurnIndicator(updatedGameState["current_turn"], currentPlayer);
            enablePlayerTurn(updatedGameState, updatedGameState["current_turn"], currentPlayer);
        });

        /* Plays Click Sound Effect */
        function playClickSound() {
            const audio = document.getElementById("click-sound"); 
            audio.play();
        }

    </script>
{% endblock %}
