{% extends "layout.html" %}

{% block title %}
    Speed!
{% endblock %}

{% block main %}
    <div id="card-container">

    </div>

    <button id="startGame" onclick="startGame()">Play!</button>

    <script>
        let counter = 1;
        /* Create deck of cards */
        let deck = [];
        const suits = ["Hearts", "Diamonds", "Clubs", "Spades"];
        const ranks = ["Ace", "2", "3", "4", "5", "6", "7", "8", "9", "10", "Jack", "Queen", "King"];

        /* Function to create cards */
        function createDeck() {
            // Loops through suits and ranks
            for (let suit of suits) {
                for (let rank of ranks) {
                    // Assigns each "card" object with current suit, rank, and image
                    const card = {
                        suit,
                        rank,
                        image: `../static/card_images/${rank.toLowerCase()}_of_${suit.toLowerCase()}.png`,
                        back: `../static/card_images/card_backside.png`
                    };
                    // Adds each card to a deck of cards
                    deck.push(card);
                };
            };
        }

        /* Only after page is loaded */
        function initializeEventListeners() {
            document.addEventListener("DOMContentLoaded", function() {
                // Cards are created and shuffled
                createDeck();
                shuffle();

                // Cards snap back if window changes etc.
                document.addEventListener("visibilitychange", handleVisibilityChange);

                // Prevent the default dragstart behavior
                document.addEventListener('dragstart', function (e) {
                    e.preventDefault(); // Prevents the ghost image from appearing
                });
            });
        }

        /* Load and connect images to deck array */
        function loadCards() {
            const cardContainer = document.getElementById("card-container");

            // Removes current deck of cards before loading new deck
            if (cardContainer.childElementCount > 0) {
                cardContainer.innerHTML = "";
            };

            // Loads in new deck of cards
            deck.forEach((card, index) => {
                // Creates each card element: card -> cardFlipper -> (cardFront -> cardFrontImage) & (cardBack -> cardBackImage)
                const cardElement = assembleCard("div", "card");
                const cardFlipper = assembleCard("div", "flip-card-inner", "", cardElement);
                const cardFront = assembleCard("div", "flip-card-front", "", cardFlipper);
                const cardFrontImage = assembleCard("img", "card-image", card.image, cardFront, cardFlipper);
                const cardBack = assembleCard("div", "flip-card-back", "", cardFlipper);
                const cardBackImage = assembleCard("img", "card-image", card.back, cardBack, cardFlipper);

                // Appends each card to deck
                cardElement.appendChild(cardFlipper)
                cardContainer.appendChild(cardElement);
            });
        };

        /* Helper function to create card elements */
        function assembleCard(elementType, className, source = "", parentNode, grandparentNode) {
            // Creates element with class name
            const element = document.createElement(elementType);
            element.className = className;

            // If element is an image (e.g. cardFrontImage and cardBackImage)
            if (elementType === "img") {
                element.src = source;
            }

            /* Handles appending */

            if (parentNode) {
                parentNode.appendChild(element);
            }
            if (grandparentNode) {
                grandparentNode.appendChild(parentNode);
            }
            return element;
        }

        /* Shuffle deck of cards */
        function shuffle() {
            let currentIndex = deck.length;
            // Keep going until last card is swapped
            while (currentIndex != 0) {
                // Choose remaining card
                let randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex--;
                // Swap last remaining card with random remaining card
                [deck[currentIndex], deck[randomIndex]] = [deck[randomIndex], deck[currentIndex]];
            };
            // Reload card images
            loadCards();
        };
        
        /* Starts Game */
        function startGame() {
            document.getElementById("startGame").remove()

            // Get the deck and card elements
            const deckContainer = document.getElementById("card-container");
            const enemyDeck = deckContainer.querySelectorAll("div.card:nth-child(-n+20)");
            const playerDeck = deckContainer.querySelectorAll("div.card:nth-child(n+21):nth-child(-n+40)");
            const middleLeftDeck = deckContainer.querySelectorAll("div.card:nth-child(n+41):nth-child(-n+46)");
            const middleRightDeck = deckContainer.querySelectorAll("div.card:nth-child(n+47):nth-child(-n+52)");

            // Animate the deck to the center
            deckContainer.style.animation = 'moveCenter 1s forwards';

            // Enemy's and player's decks animate first after 1 second after moving center
            setTimeout(() => {
                // Animate 20 cards to top left 
                splitCards(enemyDeck, "enemy", "splitCardsLeft");
                // Animate 20 cards to bottom right 
                splitCards(playerDeck, "player", "splitCardsRight")
                // A second after top left and bottom right decks animate, middle piles animate
                setTimeout(() => {
                    // Animate 6 cards to center left
                    splitCards(middleLeftDeck, "left", "splitCardsMiddleLeft", false);
                    // Animate 6 cards to center right
                    splitCards(middleRightDeck, "right", "splitCardsMiddleRight", false);
                }, 1000);
            }, 1000);
        };

        /* Helper function to split decks */
        // deck = deck of cards, location = where to, animation = which animation to apply, deckSize = length of deck 
        function splitCards(deck, location, animation, deckSize = true) {
            deck.forEach((cardElement, index) => {
                cardElement.style.animation = `${animation} 1s forwards`;
                cardElement.style.animationDelay = `${index * 50}ms`; // trail effect
                if (deckSize) {
                    cardElement.classList.add(`${location}-deck`);
                    // Top 5 cards in deck
                    const firstFifteenCards = 15;
                    if (index >= firstFifteenCards) {
                        // For card's placement in hand (0-5), e.g. 15 - 15 = 0, 16 - 15 = 1... 19 - 15 = 4
                        let cardPosition = index - 15; 
                        cardElement.classList.add(`position-${cardPosition}`); 
                        cardElement.style.zIndex = cardPosition;

                        // Cards are staggered from 0px at x-coord
                        cardElement.style.setProperty('--flip-player-enemy-card-x-translate', `${(index - 17) * 80}px`); 
                        flip(cardElement, `${location}`, index);
                    }
                } else {
                    // Last card is played in middle
                    const firstFiveCards = 5;
                    if (index == firstFiveCards) {
                        setTimeout(() => {
                            flip(cardElement, `${location}`, index);
                            cardElement.classList.add("center-card"); // Two center cards
                        }, 1000);
                    }
                }
            });            
        };

        /* Helper function to flip cards */
        function flip(cardElement, location, index = 0) {
            // Removes specific deck class after card is flipped
            cardElement.classList.remove(`${location.replace("Deck", "")}-deck`);

            // setTimeout variables
            let animateMiddle = 1000;
            let bgRemove = 1400;
            let bgAdd = 1000;
            let cardFlip = 800; 
            if (location == "playerDeck") {
                // Card from is picked up quicker
                animateMiddle = 0;
                bgRemove = 400;
                cardFlip = 0;
            }

            /* Card moves to middle */
            setTimeout(() => {
                switch(location) {
                    case "enemy":
                        cardElement.style.animation = 'flipEnemyCards 1s forwards';
                        break;
                    case "player":
                        cardElement.style.animation = 'flipPlayerCards 1s forwards';
                        // Allows player cards to be inspected //
                        cardElement.classList.add("inspect");
                        break;
                    case "left":
                        cardElement.style.animation = 'flipMiddleLeft 1s forwards';
                        break;
                    case "right":
                        cardElement.style.animation = 'flipMiddleRight 1s forwards';
                        break;
                    case "playerDeck":
                        cardElement.style.animation = 'flipPlayerCards 1s forwards';
                        // Allows player cards to be inspected //
                        cardElement.classList.add("inspect");
                        break;
                }
            }, animateMiddle);

            // Enemy's cards will not be visible to player */
            if (location == "enemy") {
                return;
            }

            // Card background is removed //
            setTimeout(() => {
                cardElement.classList.add('flipped');
                // Card background is added back after card flips //
                setTimeout(() => {
                    cardElement.classList.remove('flipped');
                }, bgAdd);
            }, bgRemove);

            // Card is flipped to reveal suit and rank //
            setTimeout(() => {
                cardElement.children[0].style.animation = 'flip 1s forwards';
                cardElement.children[0].style.animationDelay = `${500}ms`; // trail effect
            }, cardFlip);

            // Any of the player's cards can be dragged //
            if (location == "player" || location == "playerDeck") {
                dragCard(cardElement);
            }
        };

        /* Helper function to rid the card and "score a point" */
        function ridCard(card, centerCard, zIndex, cardPosition) {
            // If the position of the card is invalid, don't rid card and flip new card
            const firstCard = 0;
            const lastCard = 4;
            if (isNaN(cardPosition) || cardPosition < firstCard || cardPosition > lastCard) {
                return;
            }

            // Gets positioning of screen's center, player's card, and center card
            const deckContainer = document.getElementById("card-container");
            const origin = deckContainer.getBoundingClientRect(); // Center of screen
            const rect = card.getBoundingClientRect();
            const centerRect = centerCard.getBoundingClientRect();

            // Space between left/top edge of card to center of screen
            const startX = rect.left - origin.left;
            const startY = rect.top - origin.top;
            const endX = centerRect.left - origin.left;
            const endY = centerRect.top - origin.top;

            // Card is placed on top of previous center card
            card.style.zIndex = zIndex + 1;

            // Animates ridding card
            card.style.setProperty('--rid-player-card-x-translate-start', `${startX}px`);
            card.style.setProperty('--rid-player-card-y-translate-start', `${startY}px`);
            card.style.setProperty('--rid-player-card-x-translate-end', `${endX}px`);
            card.style.setProperty('--rid-player-card-y-translate-end', `${endY}px`);
            card.style.animation = 'ridPlayerCard .3s forwards';

            // Get all player deck cards
            const playerDeckCards = deckContainer.querySelectorAll(".player-deck");

            // If there are more cards left in the deck
            if (playerDeckCards.length > 0) {
                // Get the last card in the deck
                const nextCardFlip = playerDeckCards[playerDeckCards.length - 1];

                // Calculate its translationValue
                const positions = [-160, -80, 0, 80, 160];
                const translationValue = positions[cardPosition];

                // Applies position class to newly flipped card (0-5)
                nextCardFlip.classList.add(`position-${cardPosition}`);

                // Apply the translation value dynamically
                nextCardFlip.style.setProperty('--flip-player-enemy-card-x-translate', `${translationValue}px`);

                // Next card's depth within player's hand remains consistent
                nextCardFlip.style.zIndex = cardPosition;

                // Flip the next card
                flip(nextCardFlip, `playerDeck`);      
            } 
        }

        /* Dragging Event Listeners */
        // Define a state object to keep track of dragging state
        const dragState = {
            isDragging: false,
            offsetX: 0,
            offsetY: 0,
            originalTop: 0,
            originalLeft: 0,
            draggedCard: null
        };

        // Visibility change handler (e.g. changed tabs)
        function handleVisibilityChange() {
            // Handle card position reset or cleanup
            if (document.hidden) {
                if (dragState.isDragging) {
                    // Snaps back card to original position
                    const card = dragState.draggedCard;
                    card.style.top = `${dragState.originalTop}px`;
                    card.style.left = `${dragState.originalLeft}px`;
                }
            }
        }

        // Clicking the card
        function onMouseDown(e) {
            if (e.button === 0) { // Only if the left mouse button is clicked
                // Enables custom dragging by stopping default dragging (such as text selection)
                e.preventDefault();

                // Initialize drag state
                dragState.isDragging = true;
                dragState.offsetX = e.clientX - this.offsetLeft;
                dragState.offsetY = e.clientY - this.offsetTop;
                dragState.originalLeft = this.offsetLeft;
                dragState.draggedCard = this; // Keeps reference to the dragged card

                // Updates zIndex so card is on top
                this.classList.add("zIndex-dragging");

                // Highlights available center cards
                document.querySelectorAll(".card.center-card").forEach(element => {
                    element.classList.add("yellow-card-highlight");
                });

                // Attach event listeners to document for continuous tracking
                document.addEventListener("mousemove", onMouseMove); 
                document.addEventListener("mouseup", onMouseUp);
            }
        }

        // Moving the card
        function onMouseMove(e) {
            if (dragState.isDragging) {
                const card = dragState.draggedCard; // Use the stored reference
                // Update card position based on mouse movement
                card.style.top = `${e.clientY - dragState.offsetY}px`;
                card.style.left = `${e.clientX - dragState.offsetX}px`;

                // Check if dragged card is over a center card
                const centerCards = document.querySelectorAll(".center-card");
                for (const centerCard of centerCards) {
                    if (isDraggingCardOverCenterCard(card, centerCard)) {
                        // Add cyan highlight
                        centerCard.classList.add("cyan-card-highlight");
                    } else {
                        // Remove cyan highlight
                        centerCard.classList.remove("cyan-card-highlight");
                    }
                }
            }
        }

        // Releasing the card
        function onMouseUp(e) {
            if (dragState.isDragging) {
                const card = dragState.draggedCard; // Use the stored reference
                card.classList.remove("zIndex-dragging"); // Card is no longer in front of all others (z-index)
                dragState.isDragging = false; // No longer dragging


                // Removes highlights
                document.querySelectorAll(".card.center-card").forEach(element => {
                    element.classList.remove("yellow-card-highlight");
                    element.classList.remove("cyan-card-highlight");
                });

                // Gets center cards
                const centerCards = document.querySelectorAll(".center-card");
                for (const centerCard of centerCards) {
                    if (isDraggingCardOverCenterCard(card, centerCard)) { // If over center card
                        if (isCardPlayable(card, centerCard)) { // If playable
                            // Add green highlight
                            centerCard.classList.add("green-card-highlight");
                            setTimeout(() => {
                                centerCard.classList.remove("green-card-highlight");
                            }, 200);
         
                            // Remove the dragging event listener so card cannot be zIndex-dragging
                            removeDragEventListeners(card);

                            // Access the list of the card's classes
                            const classList = Array.from(card.classList);

                            // Find the first (and only) class that is a 'position-[digit]' and converts to an integer
                            const singleDigitClass = classList.find(className => /^position-\d$/.test(className));

                            // If it's a valid class and not undefined
                            if (singleDigitClass) {
                                const singleDigitInteger = parseInt(singleDigitClass.replace('position-', ''));

                                ridCard(card, centerCard, counter, singleDigitInteger);
                                // Immediately remove "singleDigitClass" from played card
                                card.classList.remove(`position-${parseInt(classList.find(className => /^position-\d$/.test(className)).replace('position-', ''))}`);
                            }
                             
                            // Played card is now a center card while old center card is no longer one
                            card.classList.add("center-card");
                            centerCard.classList.remove("center-card");

                            // Card can no longer be inspected
                            card.classList.remove("inspect"); // Card can no longer be inspected

                            // In case card is hovering over both center cards, it is played on the first one
                            break;
                        } 

                        else { // If not playable
                            centerCard.classList.add("red-card-highlight");
                            setTimeout(() => {
                                centerCard.classList.remove("red-card-highlight");
                            }, 200);
                        }
                    }
                }
                // Handles snap back 
                card.style.top = `${dragState.originalTop}px`;
                card.style.left = `${dragState.originalLeft}px`;

                // Increments counter (used for zIndex)
                counter++;

                // Remove event listeners from document
                document.removeEventListener("mousemove", onMouseMove);
                document.removeEventListener("mouseup", onMouseUp);
            }
        }

        /* Helper function to drag cards */
        function dragCard(card) {
            /* Dragging Event Listeners */
            card.addEventListener("mousedown", onMouseDown); // Uses card so whenever user clicks on card
        }

        /* Removes dragging event listeners */
        function removeDragEventListeners(card) {
            card.removeEventListener("mousedown", onMouseDown);
            document.removeEventListener("mousemove", onMouseMove);
            document.removeEventListener("mouseup", onMouseUp);
        }

        /* Helper function to detect if mouse is over an element */
        function isDraggingCardOverCenterCard(draggedCard, centerCard) {
            /* Gets size and pos of dragged and center card */
            const draggedRect = draggedCard.getBoundingClientRect();
            const centerRect = centerCard.getBoundingClientRect();
            // Returns true if dragged card is within range of center card
            return (
                draggedRect.left <= centerRect.right && // If card is left of center right
                draggedRect.right >= centerRect.left && // If card is right of center left
                draggedRect.top <= centerRect.bottom && // If card is above center bottom
                draggedRect.bottom >= centerRect.top // If card is below center top
            )
        };

        /* Helper function to check if card is playable or not */
        function isCardPlayable(card, centerCard) {
            // Gets rank of dragged card and center card
            const player = rankOfCard(card);
            const target= rankOfCard(centerCard);

            const ace = 1;
            const king = 13;

            /* True = playable, False = not playable */
            if (player == king && target == ace) { // King < ace
                return true;
            }
            else if (target - player == ace) { // Smaller by one
                return true;
            }
            else if (player == ace && target == king) { // Ace > king
                return true;
            }
            else if (player - target == ace) { // Bigger by one
                return true;
            }
            else { // Anything else
                return false;
            }
        }

        /* Helper function to determine rank of card */
        function rankOfCard(card) {
            // Example url: http://127.0.0.1:5000/static/card_images/jack_of_diamonds.png
            const url = card.querySelector(".card-image").src; // Gets url of image
            const filename = url.split("/").pop(); // Splits up url by / and gets last "index"
            const rank = filename.split("_")[0]; // Splits up url by _ and gets first "index"
            
            const intRank = parseInt(rank);
            if (isNaN(intRank)) { // If rank is not an integer (e.g, ace, jack, queen, king)
                return convertFaceToNumber(rank);
            } else {
                return intRank; // If rank is an integer
            }
        }

        /* Helper function to convert face cards to numbers*/
        function convertFaceToNumber(word) {
            // Integer-based values for face cards plus ace
            switch(word) {
                case "ace":
                    return 1;
                case "jack":
                    return 11;
                case "queen":
                    return 12;
                case "king":
                    return 13;
            };
        }

        // Initialize event listeners after all variables and functions are created
        initializeEventListeners();

    </script>
{% endblock %}
