{% extends "layout.html" %}

{% block title %}
    Speed!
{% endblock %}

{% block main %}
    <div id="card-container">

    </div>

    <button id="startGame" onclick="startGame()">Play!</button>

    <script>
        /* Create deck of cards */
        let deck = [];
        const suits = ["Hearts", "Diamonds", "Clubs", "Spades"];
        const ranks = ["Ace", "2", "3", "4", "5", "6", "7", "8", "9", "10", "Jack", "Queen", "King"];
        // Loops through suits and ranks
        for (let suit of suits) {
            for (let rank of ranks) {
                // Assigns each "card" object with current suit, rank, and image
                const card = {
                    suit,
                    rank,
                    image: `../static/card_images/${rank.toLowerCase()}_of_${suit.toLowerCase()}.png`,
                    back: `../static/card_images/card_backside.png`
                };
                // Adds each card to a deck of cards
                deck.push(card);
            };
        };
        /* Stars with shuffled deck */
        document.addEventListener("DOMContentLoaded", function() {
            shuffle();
        });

        /* Load and connect images to deck array */
        function loadCards() {
            const cardContainer = document.getElementById("card-container");
            // Removes current deck of cards before loading new deck
            if (cardContainer.childElementCount > 0) {
                cardContainer.innerHTML = "";
            };
            // Loads in new deck of cards
            deck.forEach((card, index) => {
                // Each card element
                const cardElement = document.createElement("div");
                cardElement.className = "card";
                // Flips between front and back
                const cardFlipper = document.createElement("div");
                cardFlipper.className = "flip-card-inner";
                // Suit and Rank card side
                const cardFront = document.createElement("div");
                cardFront.className = "flip-card-front";
                // Front Image
                const cardFrontImage = document.createElement("img");
                cardFrontImage.className = "card-image";
                cardFrontImage.src = card.image;
                cardFront.appendChild(cardFrontImage);
                cardFlipper.appendChild(cardFront);
                // Back card side
                const cardBack = document.createElement("div");
                cardBack.className = "flip-card-back";
                // Back Image
                const cardBackImage = document.createElement("img");
                cardBackImage.className = "card-image";
                cardBackImage.src = card.back;
                cardBack.appendChild(cardBackImage);
                cardFlipper.appendChild(cardBack);
                // Add card
                cardElement.appendChild(cardFlipper)
                cardContainer.appendChild(cardElement);
                });
        };

        /* Shuffle deck of cards */
        function shuffle() {
            let currentIndex = deck.length;
            // Keep going until last card is swapped
            while (currentIndex != 0) {
                // Choose remaining card
                let randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex--;
                // Swap last remaining card with random remaining card
                [deck[currentIndex], deck[randomIndex]] = [deck[randomIndex], deck[currentIndex]];
            };
            // Reload card images
            loadCards();
        };
        
        /* Starts Game */
        function startGame() {
            document.getElementById("startGame").remove()

            // Get the deck and card elements
            const deckContainer = document.getElementById("card-container");
            const enemyDeck = deckContainer.querySelectorAll("div.card:nth-child(-n+20)");
            const playerDeck = deckContainer.querySelectorAll("div.card:nth-child(n+21):nth-child(-n+40)");
            const middleLeftDeck = deckContainer.querySelectorAll("div.card:nth-child(n+41):nth-child(-n+46)");
            const middleRightDeck = deckContainer.querySelectorAll("div.card:nth-child(n+47):nth-child(-n+52)");

            // Animate the deck to the center
            deckContainer.style.animation = 'moveCenter 1s forwards';

            // Enemy's and player's decks animate first

            // Create array of number of cards in player's hand
            // Start game with it at max capacity (5)
            // Do so by flipping it to the center, looping it until it reaches max capacity
            // Each card will be slightly to the right of the previous, zindex above its left
            setTimeout(() => {
                // Animate 20 cards to top left 
                enemyDeck.forEach((cardElement, index) => {
                    cardElement.style.animation = 'splitCardsLeft 1s forwards';
                    cardElement.style.animationDelay = `${index * 50}ms`; // trail effect
                    // Top 5 cards in deck
                    if (index >= 15) {
                        // Cards are staggered from 0px at x-coord
                        cardElement.style.setProperty('--card-x-translate', `${(index - 17) * 80}px`);
                        flip(cardElement, index, "enemy");
                    }
                })
                // Animate 20 cards to bottom right 
                playerDeck.forEach((cardElement, index) => {
                    cardElement.style.animation = 'splitCardsRight 1s forwards';
                    cardElement.style.animationDelay = `${index * 50}ms`; // trail effect
                    // Top 5 cards in deck
                    if (index >= 15) {
                        // Cards are staggered from 0px at x-coord
                        cardElement.style.setProperty('--card-x-translate', `${(index - 17) * 85}px`);
                        flip(cardElement, index, "player");
                        // Allows for card to be inspected and draggable
                        cardElement.classList.add("inspect");
                        dragCard(cardElement);
                    }
                })
                // After top left and bottom right decks animate, middle piles animate
                setTimeout(() => {
                    // Animate 6 cards to center left
                    middleLeftDeck.forEach((cardElement, index) => {
                        cardElement.style.animation = 'splitCardsMiddleLeft 1s forwards';
                        cardElement.style.animationDelay = `${index * 50}ms`; // trail effect
                        // Last card is played in middle
                        if (index == 5) {
                            setTimeout(() => {
                                flip(cardElement, index, "left");
                            }, 1000);
                        }
                    })
                    // Animate 6 cards to center right
                    middleRightDeck.forEach((cardElement, index) => {
                        cardElement.style.animation = 'splitCardsMiddleRight 1s forwards';
                        cardElement.style.animationDelay = `${index * 50}ms`; // trail effect
                        // Last card is played in middle
                        if (index == 5) {
                            setTimeout(() => {
                                flip(cardElement, index, "right");
                            }, 1000);
                        }
                    })
                }, 1000);
            }, 1000);
        };

        /* Helper function to flip cards */
        function flip(cardElement, index, location) {
            /* Card moves to middle */
            setTimeout(() => {
                switch(location) {
                    case "enemy":
                        cardElement.style.animation = 'flipEnemyCards 1s forwards';
                        break;
                    case "player":
                        cardElement.style.animation = 'flipPlayerCards 1s forwards';;
                        break;
                    case "left":
                        cardElement.style.animation = 'flipMiddleLeft 1s forwards';
                        break;
                    case "right":
                        cardElement.style.animation = 'flipMiddleRight 1s forwards';
                        break;
                }
            }, 1000);
            /* Enemy's cards will not be visible to player */
            if (location == "enemy") {
                return;
            }
            /* Card background is removed */
            setTimeout(() => {
                cardElement.classList.add('flipped');
                /* Card background is added back after card flips */
                setTimeout(() => {
                    cardElement.classList.remove('flipped');
                }, 10000);
            }, 1400);
            /* Card is flipped to reveal suit and rank */
            setTimeout(() => {
                cardElement.children[0].style.animation = 'flip 1s forwards';
                cardElement.children[0].style.animationDelay = `${500}ms`; // trail effect
            }, 800);
        };

        /* Helper function to drag cards*/
        function dragCard(card) {
            let isDragging = false;
            let offsetX = 0;
            let offsetY = 0;

            card.addEventListener("mousedown", (e) => {
                if (e.button === 0) { // Only if the left mouse button is clicked
                    card.classList.add("draggable");
                    isDragging = true;
                    offsetX = e.clientX - card.offsetLeft;
                    offsetY = e.clientY - card.offsetTop;
                }
            });

            document.addEventListener("mousemove", (e) => {
                if (isDragging) {
                card.style.top = `${e.clientY - offsetY}px`;
                card.style.left = `${e.clientX - offsetX}px`;
                }
            });

            document.addEventListener("mouseup", () => {
                card.classList.remove("draggable");
                isDragging = false;
            });
        };
    </script>
{% endblock %}

<!--
Pseudocode:

move cards on to pile

Whenever move cannot be made, players prompt each other to flip middle
(For player: waiting for other player to respond)
(For enemy: other player requests for a flip in the middle)

player clicks personal deck for more

MAYBE: yellow glow around cards when to click

Game Rules:
Cards
Players have to rid their deck by placing their cards on the middle 2 
Flip over left and right cards if current decks are unplayable
If players can't play, draw from personal deck
Players can only have 5 cards max at all times
Gamemodes:
More than 2 players
Can play more than one card at once
Include joker cards as wild
-->